body {
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
    background-color: #bdfb04; 
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .resume {
    position: relative;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }

  /* Header styles */
  .header {
    text-align: center;
  }
  
  .header h1 {
    font-size: 2em;
    margin-bottom: 0;
  }
  
  .header p {
    font-size: 0.8em;
    color: #777;
    margin-top: 5px;
  }
  
  /* Section styles */
  .section {
    margin-top: 20px;
  }
  
  .section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  /* Education styles */
  .education {
    margin-bottom: 15px;
  }
  
  .education h3 {
    font-size: 1em;
    margin-bottom: 5px;
  }
  
  .education p {
    font-size: 0.8em;
    color: #777;
    margin-top: 0;
  }
  
  /* Skills styles */
  .skills ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .skills li {
    margin-bottom: 5px;
  }
  
  .skills li strong {
    font-weight: bold;
  }
  
  /* Work Experience styles */
  .work {
    margin-bottom: 15px;
  }
  
  .work h3 {
    font-size: 1em;
    margin-bottom: 5px;
  }
  
  .work p {
    font-size: 0.8em;
    color: #777;
    margin-top: 0;
  }
  
  /* Projects styles */
  .projects {
    margin-top: 20px;
  }
  
  .project {
    margin-bottom: 15px;
  }
  
  .project h3 {
    font-size: 1em;
    margin-bottom: 5px;
  }
  
  .project p {
    font-size: 0.8em;
    color: #777;
    margin-top: 0;
  }
  
  .project a.button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    margin-top: 5px;
  }
  
  .project a.button:hover {
    background-color: #0069d9;
  }

  .resume .header,
  .resume .section,
  .resume .skills, 
  .resume .work,
  .resume .projects {
    z-index: 1; 
  }